@font-face {
    font-family: Montserat, sans-serif;
    src: url();
}

$font-1:"Montserat", sans-serif;

$color1: #FF6060;
$color2: Black;
$color3: White;
$color4: #F6F6F6;
;

@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $color3;
    font-family: $font-1;
}

li {
    list-style-type: none;
    text-decoration: none;
}