.image-propos{
    max-width: 75.5vw;
    min-height: 223px;
    margin: auto;
    margin-top: 2rem;
    border-radius: 2rem;
    background-image: url(../assets/source.png);
    background-size: cover;
    background-position: center;

  
}



.conteneur-flex{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60rem;
    margin: auto;
    margin-top: 2rem;
}


