*{
    margin: 0;
}


.card-details{
    display: flex;
    flex-direction: column;
    width: 75.5vw;
    height: auto;
    margin: auto;
}

.block-haut{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}


.block-host{
display: flex;
align-items: center;

    .host{
        color: $color1;
        width: 2rem;
        margin-right: 2rem;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: right;
    }
    .rond{
        width: 50px; 
        height: 50px; 
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        border: 2px solid $color1;
        margin-right: 1rem;
    }
}

.sur-titre{
    display: flex;
    flex-direction: column;
    .titre{
        font-size: 2rem;
        font-weight: 100;
        color: $color1;
        margin-top: 1rem;
    
    }
    .location{
        font-size: 1rem;
    }
    
}



.block-milieu{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    margin-top: 2rem;

    .tag-container{
        display: flex;
        flex-wrap: wrap;
  gap: 0.5rem;

    }

    .tag-item {
        background-color: $color1; 
        color: white; 
        padding: 0.3rem 1rem; 
        border-radius: 1rem; 
        font-size: .8rem;
      }
}



.etoile-colore{
    color: $color1;
}
.etoile-grise{
    color: $color5;
}

 .location{
    font-size: 1rem;
    color: $color1;
 }



.block-bas{
    display: flex;
    margin-top: 2.5rem;
    justify-content: space-between;
    gap: 2rem;

    .container-description{
        width: 36rem;
        display: flex;
        flex-direction: column;

    }
  
}

.container-equipement {
    width: 36rem;
    display: flex;
    flex-direction: column;
  
  
    .description-texte {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding: 1rem;
      background-color: $color4;
      color: $color1;
      font-size: 1rem;
      font-weight: 400;

      li {
        display: list-item;
        font-size: 1rem;
      }
    }

   
  }

 
    
  
  
  