// CardAppartements.scss

.liste-chambres {
  display: flex;
    flex-wrap: wrap;
    width: 75.5%;
    margin: auto;
    padding: 3rem;
    gap: 2rem;
    margin-top: 2rem;
    background-color: $color4;
    border-radius: 2rem;
    justify-content: space-between;
  }
  
 
  

  
  
@media screen and (max-width: 768px) {
  .liste-chambres {
    width: 85%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2rem;
    justify-content: center;
    background-color: $color3;
    gap: 2rem;
    padding: 0;
  }
  
}