.footer{
    width: 100vw;
    height: 210px;
    padding: 3rem;
    background-color: $color2;
    margin-top: 2rem;
    color: $color3;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;

}

